@model MACS.Models.QrCodeResponse

@{
    ViewData["Title"] = "Cho xe ra";

    // Tạo dictionary từ Model.Data
    var dataDict = new Dictionary<string, string>();

    if (Model?.Data != null)
    {
        dataDict = Model.Data
            .Select(item => item.Split(':'))
            .Where(parts => parts.Length > 1)
            .ToDictionary(
                parts => parts[0].Trim().ToLower(), // Key
                parts => parts[1].Trim()           // Value
            );
    }
}

<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded h-100 p-4">
            <div class="modal-content" style="max-height: 90vh; overflow-y: auto;">
                <div class="modal-header">
                <h5 class="modal-title text-center mx-auto" id="formModalLabel">Đăng ký ra </h5>
                </div>
                <div class="modal-body">
                    <div class="container-fluid pt-2">
                        <div class="bg-light rounded p-2">
                            <p class="h6 text-center">Thông tin xe</p>
                            <form asp-action="Edit" method="post" class="needs-validation form-control" novalidate>
                                <div class="row">
                                    <div class="col-6 mb-3">
                                        <label for="LicensePlate" class="form-label">Biển số xe</label>
                                        <input id="LicensePlate" name="LicensePlate" class="form-control"
                                               value="@(dataDict.ContainsKey("licenseplate") ? dataDict["licenseplate"] : "N/A")" />
                                    </div>
                                    <div class="col-6 mb-3">
                                        <div class="col-md-6 mb-3">
                                            <label for="Purpose" class="form-label">Mục đích</label>
                                            <input id="Purpose" name="Purpose" class="form-control"
                                                   value="@(dataDict.ContainsKey("purpose") ? dataDict["purpose"] : "N/A")" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 mb-3">
                                        <div class="col-md-6 mb-3">
                                            <label for="CardNo" class="form-label">Số thẻ</label>
                                            <input id="CardNo" name="CardNo" class="form-control"
                                                   value="@(dataDict.ContainsKey("cardno") ? dataDict["cardno"] : "N/A")" />
                                        </div>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="VehicleType" class="form-label">Loại xe</label>
                                        <input id="VehicleType" name="VehicleType" class="form-control"
                                               value="@(dataDict.ContainsKey("vehicletype") ? dataDict["vehicletype"] : "N/A")" />
                                    </div>

                                </div>
                                <div class="row align-items-stretch">
                                    <div class="col-6 mb-3 d-flex flex-column">
                                        <div class="mb-3">
                                            <label for="PhoneNo" class="form-label">Số điện thoại</label>
                                            <input id="PhoneNo" name="PhoneNo" class="form-control"
                                                   value="@(dataDict.ContainsKey("phoneno") ? dataDict["phoneno"] : "N/A")" />
                                        </div>
                                        <div class="">
                                            <label for="DriverName" class="form-label">Tên tài xế</label>
                                            <input id="DriverName" name="DriverName" class="form-control"
                                                   value="@(dataDict.ContainsKey("drivername") ? dataDict["drivername"] : "N/A")" />
                                        </div>
                                    </div>

                                    <div class="col-6 ">
                                        <label for="Remark" class="form-label">Ghi chú</label>
                                    <textarea id="Remark" name="Remark" class="form-control h-75">@(
                                                dataDict.ContainsKey("remark") ? dataDict["remark"] : "N/A")</textarea>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6 mb-3">
                                        <label for="PersonalId" class="form-label">Số CMND</label>
                                        <input id="PersonalId" name="PersonalId" class="form-control"
                                               value="@(dataDict.ContainsKey("personalid") ? dataDict["personalid"] : "N/A")" />
                                    </div>
                                    <div class="form-check col-6 mb-3 d-flex align-items-center">
                                        <input type="checkbox" id="HasContainerIn" class="form-check-input" />
                                        <label for="HasContainerIn" class="form-check-label text-danger">Có HH</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-check col-6 mb-3 d-flex align-items-center">
                                    <input type="checkbox"  class="form-check-input form-check-danger form-check-glow" name="customCheck" id="hasContainerOut" />
                                        <label for="HasContainerIn" class="form-check-label text-danger">Có kéo container ra</label>
                                    </div>
                                    @* <div class="form-check col-6 mb-3 d-flex align-items-center">
                                        <input type="checkbox" id="HasContainerIn" class="form-check-input" />
                                        <label for="HasContainerIn" class="form-check-label text-danger">Có kéo container vào</label>
                                    </div> *@
                                </div>
                            </form>
                        </div>

                    </div>

                    <div class="container-fluid pt-2 d-none" id="containerIn">
                        <div class="bg-light rounded p-2">
                            <p class="h6 text-center">Danh sách container vào theo xe</p>
                            <form asp-action="Edit" method="post" class="needs-validation" novalidate>
                                <div class="table-responsive mt-3">
                                    <table class="table table-bordered">
                                        <thead class="table-active">
                                            <tr>
                                                <th>Chọn</th>
                                                <th>Số Cont</th>
                                                <th>Loại Cont</th>
                                                <th>Số Seal</th>
                                                <th>Số Seal HQ</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input type="checkbox"
                                                           class="form-check-input form-check-primary"
                                                           name="customCheck" id="customColorCheck1">
                                                </td>
                                                <td>OCUU8026949</td>
                                                <td>40DC</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="container-fluid pt-2 d-none" id="containerOut">
                        <div class="bg-light rounded p-2">
                            <p class="h6 text-center">Danh sách container ra theo xe</p>
                            <form asp-action="Edit" method="post" class="needs-validation" novalidate>
                                <div class="table-responsive mt-3">
                                    <table class="table table-bordered">
                                        <thead class="table-active">
                                            <tr>
                                                <th>Chọn</th>
                                                <th>Số Cont</th>
                                                <th>Loại Cont</th>
                                                <th>Số Seal</th>
                                                <th>Số Seal HQ</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input type="checkbox"
                                                           class="form-check-input form-check-primary"
                                                           name="customCheck" id="customColorCheck1">
                                                </td>
                                                <td>OCUU8026949</td>
                                                <td>40DC</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" form="formModal2" class="btn btn-primary">Cho ra</button>
                </div>
            </div>

    </div>
    <!-- Kết quả tải lên -->
    @if (ViewBag.Results != null)
    {
        <div class="custom-alert">
            <h6>Kết quả:</h6>
            <ul>
                @foreach (var result in (List<string>)ViewBag.Results)
                {
                    <li>@result</li>
                }
            </ul>
        </div>
    }
</div>

<script>
    // Xử lý hiển thị container
    document.addEventListener("DOMContentLoaded", function () {
        const containerIn = document.getElementById("containerIn");
        const containerOut = document.getElementById("containerOut");
        const hasContainerIn = document.getElementById("hasContainerIn");
        const hasContainerOut = document.getElementById("hasContainerOut");

        function toggleContainerTable() {
            if (hasContainerIn.checked) {
                containerIn.classList.remove("d-none");
            } else {
                containerIn.classList.add("d-none");
            }
        }
        function toggleContainerTable2() {
            if (hasContainerOut.checked) {
                containerOut.classList.remove("d-none");
            } else {
                containerOut.classList.add("d-none");
            }
        }

        hasContainerIn.addEventListener("change", toggleContainerTable);
        hasContainerOut.addEventListener("change", toggleContainerTable2);
    });
</script>